---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/*リンクバッジ*/
.link-badge {
  padding: 0.5em 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  font-size: 75%;
  color: white;
  border-radius: 1em;
  box-shadow: 0 0 1em #ddd;
  white-space: nowrap;
  background-color: #58ACFA; /*青*/
}

/*シラバスバッジ*/
.syllabus-badge {
  padding: 0.5em 0.5em;
  margin-right: 1em;
  margin-left: 1em;
  font-size: 75%;
  color: white;
  border-radius: 1em;
  box-shadow: 0 0 1em #ddd;
  white-space: nowrap;
  background-color: #32cd32; /*みどり*/
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
